#-------------------Заимствование(поменял только юзера, пароль, название дб и тд)----------------------
#https://www.warp.dev/terminus/postgres-docker-compose
#https://hub.docker.com/_/postgres
services:
  db:
    image: postgres:15
    container_name: taskmanager_db
    restart: always
    environment:
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpassword
      POSTGRES_DB: taskdb
    ports:      
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
#-------------------Заимствование----------------------
